html, body {
    margin: 0;
    padding: 0;
    font-family: "Stack Sans Notch", sans-serif;
    background-image: linear-gradient(145deg,#393c44,#0a0d13,#222732);
    color: #ffffff;
    font-size: 16px;
}

nav #name {
    font-size: 2.5rem;
    font-weight: bold;
    background: linear-gradient(120deg,#98b3e5,#8f06b5);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-left: 3rem;
    margin-top: 0.5rem;
    text-shadow: 2px 2px 4px rgba(205, 100, 239, 0.6);
    letter-spacing: .2rem;
};

nav{
    display: block;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: relative;
};

#links {
    display: flex;
    gap: 3rem;
    font-size: 1.2rem;
    padding: 0rem 1rem;
};

a.nav-link {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
    letter-spacing: 0.2rem;
};

#intro-degree {
    color: #cccccc;
    /*margin-top: 3rem;
    margin-bottom: 2rem;*/
    margin-left: 3rem;
    text-align: center;
    letter-spacing: 0.1rem;
    width: 462px;
    height: 45px;
};

h1.degree {
    font-size: .2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
};

@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        text-align: center;
        width: 100%;
        background-color: #014f7f;
        padding: 1rem 0;
        z-index: 1000;
        position: absolute;
        top: 100px;
        /* Adjust based on your navbar height */
        left: 0;
        z-index: 10;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }

}